body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --logo-color: #4d5ae5;
  --items-active-color: #404bbf;
  --btn-bg-color: #4d5ae5;
  --btn-hero-color: #ffffff;
  --btn-hover-color: #404bbf;
  --team-section-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  color: var(--secondary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-decoration: none;
}

.logo .accent {
  color: var(--logo-color);
}

.menu {
  list-style: none;
}

.menu .menu-link {
  color: var(--secondary-text-color);
  font-weight: 500;

  text-decoration: none;
}

.menu .menu-link:hover,
.menu .menu-link:focus {
  color: var(--logo-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--logo-color);
}

.contact-link:active,
.menu .menu-link:active {
  color: var(--logo-color);
}

.contact-link {
  color: var(--primary-text-color);
  font-style: normal;
  text-decoration: none;
}

.menu-link.current {
  color: var(--items-active-color);
}

.contacts {
  list-style: none;
}

.hero .hero-title {
  color: var(--btn-hero-color);
  background-color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.btn-hero {
  background-color: var(--btn-bg-color);
  color: var(--btn-hero-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-hover-color);
}

.ad-list {
  list-style: none;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.gallery-list {
  list-style: none;
}

.team-list {
  list-style: none;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.footer-text {
  color: var(--footer-text-color);
  background-color: var(--secondary-text-color);
}

.filter-list {
  list-style: none;
}

.filter-btn {
  background-color: var(--team-section-color);
  color: var(--btn-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.filter-btn.all-ftrs {
  background-color: var(--items-active-color);
  color: var(--btn-hero-color);
}

.filter-btn.all-ftrs:hover,
.filter-btn.all-ftrs:focus {
  background-color: var(--btn-bg-color);
}

.portfolio-list {
  list-style: none;
}

.card .portfolio-title {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item .card {
  text-decoration: none;
}

.card .types {
  color: var(--primary-text-color);
